@charset "utf-8";

html {
  font-size: 62.5%;
  body {
    color: dimgray;
  	width: 900px;
    font-size: 1.4rem;
  }
  footer {
    margin: 0.75rem 0;
  }
}

.ul {
  &__bold {
    font-weight: bold;
  }
  &__small {
    font-size: small;
  }
  &__aright {
    text-align: right;
  }
  &__hidden {
    display: none;
  }
}

.error {
  list-style-type: none;
  color: tomato;
  padding: 0 0 0 0.75rem;
}
