@charset "utf-8";

.result {
  table {
    th,
    td {
      padding: 0.25rem 0.75rem;
    }
    td:first-child {
      text-align: center;
    }
    td:last-child,
    td:nth-last-child(2) {
      text-align: right;
    }
  }
}
